/vendor/
/composer.lock
/.idea/
/*.log
/.DS_Store
/node_modules/
/.env
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
/.vscode/
/coverage/
/build/
/*.phar
*.swp
*.bak
*.tmp
*.sass-cache
*.log
*.cache
*.zip
*.tar.gz
*.tgz
*.rar
/tests/output/*
/tests/.phpunit.result.cache